<div class="container">
<%= simple_form_for(@booking) do |f| %>
  <% if current_user == @booking.politic.user %>
    <%= f.input :status, collection: ["pending", "accepted", "refused"]%>
  <% end %>
  <%= f.input :bribe %>
  <%= f.submit "Submit bribe", class: "secondary-button" %>
<% end %>
</div>

