<div class="container">
<%= simple_form_for(@booking) do |f| %>
  <%= f.input :status, collection: ["pending", "accepted", "refused"]%>
  <%= f.submit "Submit review", class: "secondary-button" %>
<% end %>
</div>

