<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.theconversation.com/files/107089/original/image-20160103-11923-x75i8.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip);">
  <div class="container">
    <h1>My Bad Adviser</h1>
    <p>Get the <strong>worst</strong> advices from your favorite <strong>(un)trusted</strong> politics ! </p>
    <p></p>

    <a class="principal-button" href="/politics">Discover All the Crooked</a>
  </div>
</div>


<div class="cards mx-4px">
  <% @politics.each do |politic| %>
    <div class="card" style="width: 18rem;">
      <img src=<%=politic.picture %> class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= politic.name %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to "See this Politic", politic_path(politic), class: "secondary-button" %>
      </div>
    <% end %>
  </div>
</div>
