<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.theconversation.com/files/107089/original/image-20160103-11923-x75i8.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip);">
  <div class="container">
    <h1>My Bad Adviser</h1>
    <p>Get the <strong>worst</strong> advices from your favorite <strong>(un)trusted</strong> politics ! </p>
    <p></p>
    <a class="btn btn-outline-info" href="/politics">Discover All the Crooked</a>
  </div>
</div>

<div class="container">
  <h2 class="text-center">Our top 3 Crooked Politics</h2>
  <div class="cards">
    <% @politics.each do |politic| %>
      <div class="card-trip">
        <img src=<%=politic.picture %> />
        <div class="card-trip-infos">
          <div>
            <h2><%= politic.name %></h2>
            <p><%= politic.description %></p>
          </div>
          <%= link_to "See this Politic", politic_path(politic), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
