.card-trip {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    max-width: 700px;
  }

.container {
    padding: 10px;
}


.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #1EDD88;
    transition: background 0.3s ease;
  }

  h1, h2, h3, h4 {
      opacity: 80%;
  }

  .cards {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    border-radius: 4%;
  }

  .card-img-top {
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
  }

