.principal-button {
  color: black;
  font-weight: bold;
  background-color: #FFC107;
  border-radius: 4px;
  box-shadow: 4px 4px 12px -7px #000000;
  padding: 10px;
  text-decoration: none;

}

.principal-button:hover {
  color: black;
  box-shadow: 3px 3px 12px -3px #000000;
}
