.secondary-button {
  color: #fff;
  background-color: #174fa5;
  border-color: #174fa5;
  border-radius: 4px;
  box-shadow: 4px 4px 12px -7px #000000;
  padding: 10px;
  text-decoration: none;
}

.secondary-button:hover {
  color: #fff;
  box-shadow: 3px 3px 12px -3px #000000;
}
